.create-wl {
  justify-self: center;
  font-size: 45px;
  color: black;
  font-weight: bolder;
  font-family: "Cantata One", serif;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #ebbb4a, 0 0 10px #ebbb4a,
    0 0 15px #ebbb4a;
}

.choose-name {
  color: black;
  font-weight: bold;
  font-family: "Cantata One", serif;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #ebbb4a, 0 0 10px #ebbb4a,
    0 0 15px #ebbb4a;
}

.create-wl-form {
  justify-self: center;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Cantata One", serif;
}

.create-watchlist-div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-box {
  margin-left: 15px;
  font-size: 18px;
}

.create-watchlist-btn {
  margin-left: 20px;
}

.no-watchlist-message {
  font-size: 25px;
  justify-self: center;
}

/* .list-wl {
    background-color: #b7b7b6;
} */

.watchlist-div {
  justify-self: center;
  margin-top: 100px;
  max-width: 65%;
}

.watchlist-title {
  font-size: 35px;
  justify-self: flex-start;
  font-family: "Cantata One", serif;
  color: black;
  font-weight: bold;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #ebbb4a, 0 0 10px #ebbb4a,
    0 0 15px #ebbb4a;
}

.watchlist-link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  /* text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #b7b7b6, 0 0 10px #b7b7b6,
    0 0 15px #b7b7b6; */
}

.delete-btn {
  margin-top: 15px;
  background-color: black;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #ebbb4a;
  border: #ebbb4a 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  margin-left: 15px;
}

.delete-btn:hover {
    color: white;
    border: white 0.125em solid;
}