.all-movies-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--red-clr);
}

.message {
}

.error-message {
  color: var(--red-clr);
  text-align: center;
}

/* Responsive Layout:  */
@media (max-width: 1200px) {
  .all-movies-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .all-movies-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .all-movies-div {
    grid-template-columns: repeat(1, 1fr);
  }
}
