.all-movies-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 30px;
}



/* Responsive Layout:  */
@media (max-width: 1200px) {
    .all-movies-div{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .all-movies-div{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .all-movies-div{
        grid-template-columns: repeat(1, 1fr);
    }
}

