/* Movie Image */
.movie-poster {
  height: 200px;
  width: 150px;
  display: flex;
  justify-self: center;
}
/* Each individual movie card container */
.movie-card {
  margin-left: 20px;
  margin-right: 20px;
}

.movie-title {
  display: flex;
  justify-self: center;
}

.add-movie-btn {
  display: flex;
  justify-self: center;
}


