.movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--red-clr);
    padding: 1.5rem;
    gap: 1.5rem;
}

/* Responsive Layout:  */
@media (max-width: 1200px) {
    .movie-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .movie-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .movie-list{
        grid-template-columns: repeat(1, 1fr);
    }
}