.movie-card {
  height: auto;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.delete-movie-btn {
  margin-top: 15px;
  background-color: black;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #ebbb4a;
  border: #ebbb4a 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  margin-left: 15px;
  align-self: center;
}

.delete-movie-btn:hover {
    color: white;
    border: white 0.125em solid;
}

.date,
.description {
    color: white;
}

.movie-title {
    display: flex;
    align-self: center;
}