

.nav-bar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  text-decoration: none;
}

.profile-div {
  display: flex;
  justify-self: flex-end;
  font-size: 25px;
}