.nav-bar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the center */
  padding: 10px 20px;
  background-color: var(--black-clr);
  /* position: fixed; */
  z-index: 1000;
  
}

/* .main-content{
  margin-top: 70px;
  position: relative;
} */

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Add spacing between input and button */
}

.search-input {
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px; /* Add padding for better usability */
}

.search-button {
  display: flex;
  align-items: center;
  justify-self: center;
  align-self: center;
  border-radius: 8px;
  border-radius: 14px;
  padding: 0.5em 1.3em;
  transition: all 0.3s ease-in-out;
  color: white;
  background-color: var(--red-clr);
}

.search-button:hover {
  box-shadow: 0px 2px 24px 2px var(--gold-clr);
  background-color: black;
  color: var(--gold-clr);
}

.profile-div {
  display: flex;
  align-items: center; /* Vertically center the items */
  margin-right: 30px;
}

.profile-btn {
  display: flex;
  align-self: center;
  border-radius: 18px;
  font-size: 1.2rem;
  padding: 0.3em 1.3em;
  background-color: var(--red-clr);
  transition: var(--animate);
  color: #fff;
}

.profile-btn:hover {
  background-color: black;
  color: var(--gold-clr);
  box-shadow: 0px 2px 24px 2px var(--gold-clr);
}

.my-movies,
.my-watchlist {
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  color: white;
}

.my-movies:hover,
.my-watchlist:hover {
  text-decoration: underline;
  color: var(--gold-clr);
}

.user-name,
.user-email {
  font-size: 22px;
  margin-bottom: 10px;
  justify-self: center;
  color: white;
}

/* Dropdown menu */
.profile-dropdown {
  position: absolute; 
  top: 50px; 
  right: 30px; 
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px var(--gold-clr);
  z-index: 1000;
  width: auto;
  justify-self: center;
  background-color: var(--black-clr);
  color: white;
  font-size: 24px;
}

.profile-dropdown.hidden {
  display: none; /* Hide when not active */
}

.profile-dropdown li {
  list-style: none;
  margin: 10px 0;
  justify-self: center;
}

.profile-dropdown a,
.profile-dropdown button {
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
  text-decoration: underline;
}

.log-out {
  border-radius: 12px;
  background-color: black;
  border-radius: 8px;
  color: white;
  padding: 0.3rem 0.6rem;
  transition: var(--animate);
}

.log-out:hover {
  color: var(--gold-clr);
  box-shadow: 5px 5px 15px var(--gold-clr);
}

.logo {
  font-family: var(--ff-header);
  color: white;
  text-decoration: none;
  font-size: 36px;
  font-weight: 800;
  transition: var(--animate);
}

.logo:hover {
  color: var(--gold-clr);
}
